@charset "utf-8";
body{
    background-color: #222735;
    font-family: consolas;
}

.all{
    margin: auto;
}

h1{
   color:rgb(255, 255, 255);
}

label{
    color:rgb(255, 255, 255);
}

.id_box_label{
    color:rgb(255, 255, 255); 
    display: none;
}

.id_box{
    display: none;
}

.stop{
    display: none;
}

.test{
    display: none;
}

.reset_box{
    display: none;
}

.reset{
    display: none;
}
